<% if weather.present? %>
	<% weather_presenter = WeatherPresenter.new(weather) %>
	<div class="bg-green-100" id="weather_info" data-weather-target="weather">
		<div class="bg-green-50 p-4">
			<h1 class="text-xl">Weather in <%= location %></h1>
		</div>

		<div class="bg-green-50 p-2 m-2">
			<h6 class="text-lg font-medium">Conditions</h6>
			<div class="flex">
				<%= weather_presenter.conditions %>
			</div>
		</div>

		<div class="flex space-x-8 bg-green-50 p-2 m-2">
			<div>
				<h6 class="text-lg font-medium">Temperature</h6>
				<p><%= weather_presenter.temperature %></p>

				<h6 class="text-lg font-medium">Feels Like:</h6>
				<p><%= weather_presenter.feels_like %></p>
			</div>

			<div>
				<h6 class="text-lg font-medium">Min Temp</h6>
				<p><%= weather_presenter.min_temp %></p>

				<h6 class="text-lg font-medium">Max Temp</h6>
				<p><%= weather_presenter.max_temp %></p>
			</div>
		</div>

		<div class="flex space-x-8 bg-green-50 p-2 m-2">
			<div>
				<h6 class="text-lg font-medium">Pressure</h6>
				<p><%= weather_presenter.pressure %></p>

				<h6 class="text-lg font-medium">Humidity</h6>
				<p><%= weather_presenter.humidity %></p>
			</div>

			<div>
				<h6 class="text-lg font-medium">Visibility</h6>
				<p><%= weather_presenter.visibility %> </p>

				<h6 class="text-lg font-medium">Wind</h6>
				<p><%= weather_presenter.wind %></p>
			</div>
		</div>

		<div class="bg-green-50 p-2 m-2">
			<h6 class="text-lg font-medium">Sunrise</h6>
			<p><%= weather_presenter.sunrise %></p>

			<h6 class="text-lg font-medium">Sunset</h6>
			<p><%= weather_presenter.sunset %></p>
		</div>
	</div>
<% else %>
	<div id="weather_info"></div>
<% end %>
